body {
    height: 100vh; /* Take up full viewport height */
    margin: 0; /* Remove default browser margin */
    display: flex;
    justify-content: center; /* Center horizontally */
    
  }

.grid-container{
    display: flex;
    border:solid black 1px;
    width: 640px;
    height: 640px;
    margin-top: 50px;
    flex-direction: column;

}

.row {
    display: flex;
    height: 40px;
    flex: 1;
    border: solid grey 1px;
}

.column {
    
    width: 40px;
    border: solid grey 1px;
}